 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     
 }
 body{
    font-family: 'Anton', sans-serif;
    overflow-x: hidden;
 }
 .navbar{
     display: flex;
     align-items: center;
     padding: 20px;
 }
nav{
    flex: 1;
    text-align: right;

}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
p{
    color: rgb(0, 0, 0);
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}
.col-2 h1{
    font-size: 50px;
    margin: 0px 190px;
    
}
.btn{
    display: inline-block;
    background: #000000;
    color: #fff;
    padding: 10px 20px;
    margin: 0px 420px;
    border-radius: 30px; 
}
.categories{
    margin: 100px 250px;

}
.col-3{
    margin-bottom: 20px;

}
.col-3 img{
    size: 20px;
}
.btn1{
    width : auto;
    position: absolute;
    top: 1550px;
    left: 18%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
.btn2{
    position: absolute;
    top: 1550px;
    left: 42.5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width : auto;
}
.btn3{
    position: absolute;
    top: 1550px;
    left: 67%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width : auto;
}
.categories2{
margin: 20px;
}
.bt4{
position: absolute;
top: 2250px;
left: 7%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
font-size: 16px;
padding: 10px 20px;
border: none;
cursor: pointer;
border-radius: 20px;
width: auto;
}
.categories3{
    max-width: 1500px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-5{
    margin: 50px;
    font-size: 25px;
}
/*------------SNEAKERS----------------*/
.col-6
{

    flex-basis: 25%;
    padding: 10px;
    min-width: 250px;
    margin-left: 50px;
    left: 50%;
    transition: transform 0.5s;
    font-family: 'Arvo', serif;
}
.col-6 img{
    width: 65%;
}
.col-6:hover{
    transform: translateY(-5px);
}
/*---------------------footershop---------------------*/
.footer_shop{
    background-color: #000000;
    color: #ffffff;
    font-size:15px;
    position:absolute;
    padding: 40px 0 20px;
    font-family: 'Arvo', serif;
    clear:both;
    top: 2300px;
    width: 100%;
}


/*-----------------------footer_product-----------------*/
.footer_product{
    background-color: #000000;
    color: #ffffff;
    font-size:15px;
    position:absolute;
    padding: 40px 0 20px;
    font-family: 'Arvo', serif;
    clear:both;
    top: 800px;
    width: 100%;}
/*-----------------------footer_index-----------------*/
.footer_index{
    background-color: #000000;
    color: #ffffff;
    font-size:15px;
    position:absolute;
    padding: 40px 0 20px;
    font-family: 'Arvo', serif;
    clear:both;
    top: 3050px;
    width: 100%;}
/*-----------------------footer_login-----------------*/
.footer_login{
    background-color: #000000;
    color: #ffffff;
    font-size:15px;
    position:absolute;
    padding: 40px 0 20px;
    font-family: 'Arvo', serif;
    clear:both;
    top: 950px;
    width: 100%;}

    /*-----------------------footer_login-----------------*/
.footer_sign{
    background-color: #000000;
    color: #ffffff;
    font-size:15px;
    position:absolute;
    padding: 40px 0 20px;
    font-family: 'Arvo', serif;
    clear:both;
    top: 870px;
    width: 100%;}
/*-----------------------footer-----------------*/    
.footer{
    background-color: #000000;
    color: #ffffff;
    font-size:15px;
    position:relative;
    padding: 40px 0 20px;
    font-family: 'Arvo', serif;

}
.footer p{
    color: #8a8a8a;

}
.footer h3{
    color: rgb(255, 255, 255);
    margin-bottom:20px;
}
.footer-col1, .footer-col2, .footer-col3, .footer-col4{
    min-width: 250px;
    margin-bottom:20px;

}
.footer-col1{
    flex-basis:30%
}
.footer-col2{
    flex-basis:1;
    text-align:center;

}
.footer-col2 img{
    width: 50%;
    margin-bottom: 20px;
}
.footer-col3, .footer-col4{
    flex-basis:12%;
    text-align:center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
/*-----------------------ABOUT---------------------*/
.testimonial{
    margin-bottom: 120px;
}
.content-a{
    background-color: #000000;
}
.intro h1{
    font-size: 80px;
}
.intro{
    color: #ffffff;
    font-size:30px;
    margin-left: 10%;
}
.intro p{
    margin-top: 10px;
    color: #ffffff;
}
.intro-pic{
    position: absolute;
    top: 19%;
    left: 60%;
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
.intro-pic img{
    width:  80%;
    
}
.testimonial{
    padding-top:70px;
    font-size: 16px;
    padding-left: 10%;
    padding-right: 10%;

}
.abc-1{
    text-align: center;
    padding: 40px 50px;


}
.abc-1 img{
    width: 25%;

}
.abc-1 p{
    font-family: 'Arvo', serif;
}
/*-------------contact--------------*/
.head1 h1{
    font-size: 70px;
    margin-top: 40px;
}
.head1 p1{
    font-size: 30px;
}
.head1 ul li{
    font-size: 20px;
    margin: 10px 0;
}

.head2{
    margin-top: 40px;
    font-size: 20px;
    margin-bottom: 80px;
}
/*-----------shop----------*/

  
.s_head h1{
      margin: 0px 10px;
}
.sidelist{
    font-size: 40px;
    margin-top: 50px;
    margin-left: 300px;
    align-items: center;
    padding: 10px;
}
.sidelist a {
    position: relative;
    color: #000;
    text-decoration: none;
}
.sidelist a:visited {
  color: #000;
  text-decoration: none;
}

.sidelist a:hover {
  color: #000;
  text-decoration: none;
}

.sidelist a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  bottom: 2px;
  left: 0px;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.sidelist li.active a:before,
a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.shop_p1{
    position: absolute;
    top: 850px;
    width: 60%;
    right: 150px
}
/*--------------------------paging----------------*/
.pagination {
    display: inline-block;
    position: absolute;
    top: 2150px;
    left: 52.5%;
  
  }
  .pagination a {
    color: rgb(0, 0, 0);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    
  }
  .pagination a.active {
    background-color: #555555;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
  
    .pagination a {
        border-radius: 5px;
      }
      
      .pagination a.active {
        border-radius: 5px;
      }
/*---------------------------product-------------*/
.shoe_content img{
    position:absolute;
    width: 35%;
    left: 15%;
    top: 30%;
}
.shoe_description {
    font-size: 20px;
    position: absolute;
    right: -62%;
    top: 30%;
    inline-size: 2000px;
}
.size {
    position:absolute;
    right: 37%;
    top:45%;
    padding: 8px 12px;
    color:#000000;
    background-color: #ddd;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;

    
}
  .size:focus, .size:hover{
      outline: none;
      border: 1px solid #555555
  }
  .btn_1{
  width : auto;
  position: absolute;
  top: 60%;
  right: 19%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 20px;}
  .btn_2{

    position: absolute;
    top: 60%;
    right: 26%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
  .card{
      display: flex;
      position: absolute;
      top: 59%;
      right: 36.5%;
}

  h2{
      margin: 0 15px;
      font-size:15px;
  }
  button {      
      width: 40px;
      outline: none;
      border-style: none;
      font-size:20px;
      background-color: #8a8a8a;
     

  }
  button:hover{
      background-color: #555555;
      border-color:#000;
  }


/*----------------------------login---------------------------*/
.bodylog{
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-size:16px;
    line-height: 1.5;
    --primary-blue: rgb(0, 0, 0);
    font-weight: 500;
    
}
h1{
    font-size: 2.25rem;
    font-weight:700;

}
h2{
    font-size:1.5rem;
    font-weight:700;

}
a{
    text-decoration:none;
    color: var(--primary-blue);
}
a:hover{
    text-decoration: underline;
}
.small{
    font-size:80%;
    text-align:center;
}
.login{
    display:flex;
    flex-direction: column;
}
.left{
    height: 200px;
}
.left, .right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    background-size: cover;
    
}
.left .copy{
    color:rgb(0, 0, 0);
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.left p{
    font-weight: 400;
}
.right .copy{
    color:black;
    text-align:center;
}
.right .copy p{
    margin: 1.5em 0;
    font-size: 0.875rem;
}
.right form{
    width: 328px;
}

form input[type="text"],
 form input[type="email"],
 form input[type="password"] {

    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    padding:1em;
    margin-bottom:1.25rem;
    font-size:0.875rem;
 }
 label{
     display:block;
     margin-bottom: 0.5rem;
     font-size: 0.75rem;

 }
.input-container.password {
    position: relative;
}
.input-container.password i{
    position: absolute;
    top:42px;
    right:16px;
}
.checkbox-container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkbox-container{
    display: block;
    position: relative;
    padding-left: 2rem;
    cursor: pointer;
    user-select: none;
    margin: 0 0 1.25rem 0;

}
checkbox-container input:checked~ .checkmark{
    background-color: var(--primary-blue);
    border: 1px solid var(--primary-blue);

}
.checkmark{
    position:absolute;
    width: 24px;
    height:24px;
    background: white;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    top: -4px;
    left: 0;
}
.checkmark:after{
    content: "";
    position:absolute;
    display: none;
}
.checkbox-container input:checked~ .checkmark:after {
    display:block;
}
.checkbox-container .checkmark:after{
    border:solid rgb(0, 0, 0);
    border-width: 0 3px 3px 0;
    width: 5px;
    height: 10px; 
    left: 8px; 
    top: 4px;
    transform: rotate(45deg);
}
.signup-btn{
    display:block;
    width: 100%;
    background:var(--primary-blue);
    color:white;
    font-weight: 700;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;

}
.signup-btn:hover{
    background: #555555;
    cursor: pointer;
}
@media screen and (mid-width:900px){
    .login{
        flex-direction: row;
        height:100vh;
    }
    .left, .right{
        display:flex;
        width: 50%;
        height: auto;
    }
}